HELP.md
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Ignore target folders ###
target/

### Environment and configuration files ###
.env
.gitattributes
mvnw
mvnw.cmd
.mvn

### VS Code ###
.vscode/
